@charset "utf-8";

body {
    width: 1450px;
    margin: 0 auto;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 8px 12px;
}

.navbar_menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_inofrmation {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 20px;
}

.navbar_inofrmation li {
    padding: 8px 10px;
}

.navbar_menu a,.navbar_inofrmation a {
    color: white;
}

main {
    width: 1420px;
    height: 500px;
    margin: 15px;
}
.containet{display: flex; flex-direction: row;}
.item{flex: 1;}