@charset "utf-8";

body {
    width: 1450px;
    margin: 0 auto;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 8px 12px;
}

.navbar_menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_inofrmation {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 20px;
}

.navbar_inofrmation li {
    padding: 8px 10px;
}

.navbar_menu a,.navbar_inofrmation a {
    color: white;
}

main {
    width: 1420px;
    height: 500px;
    margin: 15px;
}
.container{display: flex; flex-direction: row; justify-content: space-between;}
.item1{
    width: 600px;
    height: 430px;
    background-color: gray;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
}
.item2{
    width: 600px;
    height: 430px;
    background-color: gray;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
}
.item3{
    width: 600px;
    height: 430px;
    background-color: gray;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
}
#itemh1{text-align: center;}

#comment-input{
    width:245px;
    height: 30px;
    margin: 10px;
}

#submit{
    background-color: gray;
    width: 55px;
    height: 30px;
    font-size: 13px;
    color: white;
}

#good{
    background-color: gray;
    width: 55px;
    height: 30px;
    font-size: 13px;
    color: white;
}

.best_record{
    width: 1370px;
    height: 300px;
    background-color: gray;
    margin: 25px;
    padding: 15px;
    border-radius: 5px;
}
.best_record_container{
    display: flex; flex-direction: row; justify-content: space-between;
    
}
.best1{
    width: 600px;
    height: 30px;

    margin: 10px;

    border-radius: 5px;
}
.best2{
    width: 600px;
    height: 30px;
    margin: 10px;

    border-radius: 5px;
}
.best3{
    width: 600px;
    height: 30px;
    margin: 10px;

    border-radius: 5px;
}
.best4{
    width: 600px;
    height: 30px;
    margin: 10px;

    border-radius: 5px;
}